<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quản lý sinh viên</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../Content/CSS/Common/jquery-ui.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../Content/CSS/Common/Common.css">
</head>
<body>
    <div class="container-wrapp">
        <div class="header-page">
            <div class="header-left flex">
                <span class="glyphicon glyphicon-menu-hamburger"></span>
                <span class="title-header">HỆ THỐNG ĐĂNG KÝ THI - ĐHQG HÀ NỘI</span>
            </div>
            <div class="header-right flex">
                <div class="fullName-user">Nguyễn Văn Tùng</div>
                <div class="avatar-user">
                    <span class="glyphicon glyphicon-user"></span>
                </div>
                <div class="logout">
                    Đăng xuất
                </div>
            </div>
        </div>
        <div class="body-page flex">
            <div class="body-left">
                <ul>
                    <li class="hover-color flex item-1">
                        <a href="#">
                            <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                            <span>Quản lý sinh viên</span>
                        </a>
                    </li>
                    <li class="item-2">
                        <a href="#">
                            <i class="fa fa-book" aria-hidden="true"></i>
                            <span>Quản lý học phần</span>
                        </a>
                    </li>
                    <li class="item-3">
                        <a href="#">
                            <i class="fa fa-home" aria-hidden="true"></i>
                            <span> Quản lý phòng thi</span>
                        </a>
                    </li>
                    <li class="item-4">
                        <a href="#">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                            <span>Quản lý ca thi</span>
                        </a>
                    </li>
                    <li class="item-5">
                        <a href="#">
                            <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
                            <span>Quản lý lịch thi</span>
                        </a>
                    </li>
                    <li class="item-6">
                        <a href="#">
                            <i class="fa fa-address-book" aria-hidden="true"></i>
                            <span>Danh sách dự thi</span>
                        </a>
                    </li>
                    <li class="item-7">
                        <a href="#">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            <span>Đăng ký thi</span>
                        </a>
                    </li>
                    <li class="item-8">
                        <a href="#">
                            <i class="fa fa-bar-chart" aria-hidden="true"></i>
                            <span>Kết quả đăng ký thi</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="body-right flex1 main-content">
                <!-- Nội dung thay thế từng trang -->
                <div class="container-fluid" id="StudentContainer">
                    <div class="row breadrum">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                              <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                              <li class="breadcrumb-item active" aria-current="page">Quản lý sinh viên</li>
                            </ol>
                          </nav>
                    </div>
                    <div class="row header-title">
                        <span>DANH SÁCH SINH VIÊN</span>
                    </div>
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="toolbar">
                                <div class="toolbar-item" CommanName='Add'>
                                    <span class="icon-toolbar glyphicon glyphicon-plus"></span>
                                    <span class="text-toolbar">Thêm</span>
                                </div>
                                <div class="toolbar-item" CommanName='Edit'>
                                    <span class="icon-toolbar glyphicon glyphicon-pencil"></span>
                                    <span class="text-toolbar">Sửa</span>
                                </div>
                                <div class="toolbar-item" CommanName='Delete'>
                                    <span class="icon-toolbar glyphicon glyphicon-trash"></span>
                                    <span class="text-toolbar">Xóa</span>
                                </div>
                                <div class="toolbar-item" CommanName='Refresh'>
                                    <span class="icon-toolbar glyphicon glyphicon-refresh"></span>
                                    <span class="text-toolbar">Nạp</span>
                                </div>
                                <div class="toolbar-item" CommanName='Import'>
                                    <span class="icon-toolbar glyphicon glyphicon-cloud-upload"></span>
                                    <span class="text-toolbar">Nhập khẩu</span>
                                </div>
                                <div class="toolbar-item" CommanName='Export'>
                                    <span class="icon-toolbar glyphicon glyphicon-cloud-download"></span>
                                    <span class="text-toolbar">Xuất khẩu</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="Grid" id="GridStudent" useCheckBox='true' useIndex="true">
                                <div class="column" setField="StudentName">Họ và tên</div>
                                <div class="column" setField="StudentCode">Mã sinh viên</div>
                                <div class="column" setField="Birthday" dataType="DateTime">Ngày sinh</div>
                                <div class="column" setField="Gender" dataType="Enum" enumName="Gender">Giới tính</div>
                                <div class="column" setField="Email">Địa chỉ email</div>
                                <div class="column" setField="Course">Khóa học</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end content -->
            </div>
        </div>
    </div>
    <div class="wrapper-form">
        <div class="formDialog" id="formStudent">
            <div class="header-form">
                Thêm sinh viên
            </div>
            <div class="body-form">
                <div class="row">
                    <div class="col-md-12 row-custom">
                        <div class="row-grid">
                            <div class="text-field flex1 border-right-none">
                                <b>Họ và tên <span class="require">(*)</span></b>
                                <input type="text" id="xuan" Require="true" SetField="StudentName" title="Không được để trống"
                                    placeholder="Nhập họ và tên...">
                            </div>
                            <div class="text-field flex1">
                                <b>Mã sinh viên <span class="require">(*)</span></b>
                                <input type="text" Require="true" SetField="StudentCode" title="Không được để trống"
                                    placeholder="Nhập mã sinh viên...">
                            </div>
                        </div>
                        <div class="row-grid">
                            <div class="text-field flex1 border-topright-none">
                                <b>Ngày sinh</b>
                                <input type="text" SetField="Birthday" DataType="Date" class="datepicker"
                                    placeholder="Nhập ngày sinh...">
                            </div>
                            <div class="text-field flex1 border-top-none">
                                <b>Giới tính</b>
                                <select class="speed combox-select" SetField="Gender" Enum="Gender" DataType="Enum"
                                    id="speed">
                                    <option value="1" selected>Nam</option>
                                    <option value="2">Nữ</option>
                                    <option value="3">Khác</option>
                                </select>
                            </div>
                        </div>
                        <div class="row-grid">
                            <div class="text-field flex1 border-right-none border-top-none">
                                <b>Địa chỉ email <span class="require">(*)</span></b>
                                <input  type="text" Require="true" SetField="Email" title="Không được để trống" placeholder="Nhập địa chỉ email...">
                            </div>
                            <div class="text-field flex1 border-top-none">
                                <b>Khóa học</b>
                                <input type="text" SetField="Course" placeholder="Nhập mã sinh viên...">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-form">
                <div class="btn-cancel">
                    <span class="glyphicon glyphicon-remove"></span>
                    <span>HỦY BỎ</span>
                </div>
                <div class="btn-save">
                    <span class="glyphicon glyphicon-save"></span>
                    <span>CẤT</span>
                </div>
            </div>
        </div>
    </div>
    <div class="alert alert-success" id="success-alert">
        <strong>Cất dữ liệu thành công! </strong>
    </div>
    <div id="myModal" class="modal fade">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Bạn có muốn xóa các bản ghi đã chọn?</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal">HỦY BỎ</button>
                    <button type="button" class="btn btn-danger">XÓA</button>
                </div>
            </div>
        </div>
    </div>
    <script src="../Script/Common/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="../Script/Common/Master.js"></script>
    <script src="../Script/Common/Common.js"></script>
    <script src="../Script/Common/Data.js"></script>
    <script src="../Script/Base/Grid.js"></script>
    <script src="../Script/Base/BaseGrid.js"></script>
    <script src="../Script/Base/FormDialog.js"></script>
    <script src="../Script/View/StudentManager.js"></script>
</body>
</html>